{% extends 'base.html' %}
{% block title %} Página Inicial {% endblock title %}
{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>ESTOQUE X</h5>
                </div>
                <div class="card-body">
                    <p>A falta de organização e a não-automatização de serviços de estoque é uma problemática pertinente para pessoas que necessitam desses serviços. Pensando nisso, elaboramos um sistema simples capaz de armazenar dados de elementos . O usuário, a partir da autenticação de uma conta, pode cadastrar produtos com o seu ID, o nome e a quantidade equivalente, existentes no estoque. Os cadastrados e todas suas informações serão exibidos em tabelas, podendo ser vistos por usuários autenticados ou não. Já a modificação dessa base de dados, modificando, excluindo ou adicionando, só será possível através do login.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}