{% extends 'base.html' %}
{% block title %} Sobre {% endblock title %}
{% block content %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">EstoqueX</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2>Componentes:</h2>
                    <p>Anne Teresinha
                        Elder Bruno
                        Emilly Jamilly
                    </p>
                </div>
                <div class="card-header">
                    <h5 class="card-title mb-0">Projeto no GitHub: </h5>
                    <i class="align-middle" data-feather="github"></i><a href="https://github.com/veraxqy/estoquex/">EstoqueX</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}